{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{% include '_incs/_slider.html.twig' %}

 <div class="container pt-3">
        
                <div class="p-5 bg-light">
                        <h1 class="display-3">Bienvenue sur SYMSHOP</h1>
                        <p class="lead">Nos nouveaux composants aux meilleurs prix</p>
                        <hr class="my-2">
                        <p>Voir nos produits</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="" role="button">BOUTIQUE</a>
                        </p>
                </div>

        </div>

{% endblock %}
